In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

# Read and Rename the columns
inequality = pd.read_csv('inequality.csv')
inequality = inequality.rename(columns={'Gini coefficient (before tax) (World Inequality Database)':'Inequality'})
gdp = pd.read_csv('gdp-per-capita-penn-world-table.csv')
gdp = gdp.rename(columns={'Entity': 'Country','GDP per capita (output, multiple price benchmarks)':'GDP'})

C:\Users\Giova\AppData\Local\Temp\ipykernel_960\4022777670.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [12]:
# Merge the dataframes
merged_df = pd.merge(gdp, inequality, on=['Country', 'Year'])
merged_df = merged_df.iloc[:, :5]

# Calculate the correlation
correlation = merged_df['GDP'].corr(merged_df['Inequality'])

print(f'Correlation between GDP and Income Inequality: {correlation}')


from scipy import stats

slope, intercept, r_value, p_value, std_err = stats.linregress(merged_df['GDP'], merged_df['Inequality'])

print(f'Regression analysis results: slope={slope}, intercept={intercept}, r_value={r_value}, p_value={p_value}, std_err={std_err}')

Correlation between GDP and Income Inequality: -0.32900213158542235
Regression analysis results: slope=nan, intercept=nan, r_value=nan, p_value=nan, std_err=nan

In [4]:
merged_df

       Country Code  Year         GDP  Inequality
0      Albania  ALB  1996   4862.4824    0.467630
1      Albania  ALB  2002   5636.1846    0.481698
2      Albania  ALB  2005   6531.7970    0.474482
3      Albania  ALB  2008   8615.2400    0.472132
4      Albania  ALB  2012  11106.7690    0.467515
...        ...  ...   ...         ...         ...
2531  Zimbabwe  ZWE  1991   6175.5547    0.624443
2532  Zimbabwe  ZWE  1996   6447.4220    0.624443
2533  Zimbabwe  ZWE  2011   2449.2092    0.624443
2534  Zimbabwe  ZWE  2017   3112.8750    0.635799
2535  Zimbabwe  ZWE  2019   2787.6590    0.685154

[2536 rows x 5 columns]